@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Permission";

}

<h2><b>權限管理</b></h2>

<!-- Content here -->

<form class="form-inline">
    <div class="form-group form-pairs">
        <label class="text-right">使用者ID</label>
        <input id="inpUserID" type="text" class="form-control" placeholder="UserID" style="margin-bottom: 5px;">
    </div>
    <div class="form-group  form-pairs" style="padding-bottom:5px">
        <label class="text-right">是否是管理者</label>
        <select id="selIsAdmin" class="form-control">
            <option value="">全選</option>
            <option value="true">是</option>
            <option value="false">否</option>
        </select>
    </div>
    <button type="button" class="btn btn-sm btn-primary" style="margin-bottom: 5px;" onclick="query()">查詢</button>

</form>


<div id="jsGrid"></div>

@*dialog page*@
<div id="dialog-form" title="授權設定" style="display:none">
    @*<p class="validateTips">All form fields are required.</p>*@
    <div id="pmjsGrid"></div>
</div>

<script>
    var dialog;
    var form;
    var machineList = @Json.Serialize(ViewData["MachineList"]);
    var userMachineData = null;
    var active;
    var onRowUserID;

    $(document).ready(function () {
        initGrid();
        getGridData();
        initDetailGrid();
    });

    function initGrid(){
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",
            filtering: false,
            editing: true,
            selecting: true,
            inserting: false,
            sorting: true,
            paging: false,
            rowClick: function () { return; },
            autoload: false,
            invalidMessage: "欄位輸入有誤：",

            controller: {
                loadData: function (filter) {
                    return filter;
                },
                updateItem: function (updatingItem) {
                    var d = $.Deferred();
                    $.ajax({
                        type: "PUT",
                        url: "/Permission/UpdateUserMachineData",
                        data: {
                            isAdmin:updatingItem.isAdmin,
                            userID:updatingItem.userID,
                            machineKeys:updatingItem.assignMachineKeys
                        }
                    }).done(function (result) {
                        if (result == "success")
                            d.resolve(updatingItem);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.responseText == "Update Error.") {
                            alert("Update error：取得資料發生錯誤。");
                        }else {
                            alert("發生錯誤。");
                            console.error(jqXHR.responseText);
                        }
                        d.resolve();
                    });
                    return d.promise();
                },
            },

            fields: [
                {
                    name: "userID", type: "text", title: "*使用者ID", width: 60,
                    editTemplate: function(value) {
                        var $editControl = jsGrid.fields.text.prototype.editTemplate.call(this, value);
                        return $("<div>").attr("title", (value === undefined || value === null) ? "" : value).text((value === undefined || value === null) ? "" : value);
                    }
                },
                {
                    name: "isAdmin", type: "", title: "*是否是管理者", width: 60,
                    itemTemplate: function (value, item) {
                        return chkDisableAdmin(value, item);
                    },
                    editTemplate: function(value , item) {
                        return chkIsAdmin(value, item);
                    },
                },
                {
                    name: "assignMachineKeys", type: "", title: "授權機台", width: 100,
                    itemTemplate: function (machineValue, userItem) {
                        return btnPermission('item',machineValue, userItem);
                    },
                    editTemplate: function (machineValue, userItem) {
                        return btnPermission('edit',machineValue, userItem);
                    },
                },
                {
                    type: "control", deleteButton: false ,width: 60,
                }
            ]
        });
    }

    function getGridData() {
        var d = $.Deferred();
        $.ajax({
            type: "GET",
            url: '/Permission/GetGridData'
        }).done(function (data) {
            userMachineData = data;
            $("#jsGrid").jsGrid("loadData", userMachineData);
            d.resolve(data);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            if (jqXHR.responseText == "GetAdminInfo Error.") {
                alert(alert("Inital error：資料庫伺服器發生錯誤，無法取得資料。"));
            }
            else if (jqXHR.responseText == "DBNoConnect") {
                alert("Inital error：未連接上資料庫。")
            }
            else {
                alert("發生錯誤。");
                console.error(jqXHR.responseText);
            }
        });
        return d.promise();
    }

    function initDetailGrid(){
        $("#pmjsGrid").jsGrid({
            width: "100%",
            height: "100%",
            filtering: false,
            editing: false,
            selecting: true,
            inserting: false,
            sorting: false,
            paging: false,
            autoload: false,
            data: machineList,
            invalidMessage: "勾選有誤：",
            controller: {
                loadData: function (filter) {
                    return filter;
                },
            },
            fields: [
                {
                    headerTemplate: function() {
                        return $("<input>全選</input>").attr("type", "checkbox").attr("id","inpCheckAll").attr("name","inpCheckAll")
                                .on("click", function () {
                                    checkedAllItem();
                                });
                    },
                    itemTemplate: function(machineValue, machineItem) {
                        return $("<input>").attr("type", "checkbox").attr("name","inpCheckItem")
                                .prop("checked", machineItem.isApply)
                                .on("change", function () {
                                    var isChecked = $(this).is(":checked");
                                    checkedItem(isChecked,machineItem)
                                    checkOrRemoveCheckAll();
                                });
                    },
                    align: "center",
                    width: 40
                },
                {
                    name: "ip", type: "text", title: "IP", width: 80,
                },
                {
                    name: "name", type: "text", title: "伺服器名稱", width: 100,
                },
                {
                    name: "os", type: "text", title: "作業系統", width: 100,
                },
                {
                    name: "description", type: "text", title: "描述", width: 100,
                }
            ]
        })
    }

    function btnPermission(action,machineValue, userItem) {
        var $btnPermissionSetting;
        if(action=="item"){
            $btnPermissionSetting = $("<button class='btn btn-default btnPermission'>").prop('disabled', true).text("授權設定");
        }else if (action == "edit"){
            $btnPermissionSetting = $("<button class='btn btn-default btnPermission'>").prop('disabled', userItem.isAdmin).text("授權設定");
        }
        $btnPermissionSetting.on("click", function () {
            onRowUserID = userItem.userID;
            dialogForm(action, machineValue, userItem, confirmFunction);
            getUserMachine(userItem);
            $("#pmjsGrid").jsGrid("loadData", machineList);
            checkOrRemoveCheckAll();
        });
        return $btnPermissionSetting;
    }

    //IsAdmin function for checkbox
    function chkDisableAdmin(isAdminValue, isAdminItem) {
        var $chkIsAdmin = $("<input disabled>").attr("type", "checkbox");
        return $chkIsAdmin.prop("checked", isAdminValue);
    }

    function chkIsAdmin(isAdminValue, isAdminItem) {
        var $chkIsAdmin = $("<input >").attr("type", "checkbox");
        return $chkIsAdmin.prop("checked", isAdminValue)
                            .on("change", function (event) {
                                var isChecked = $(this).is(":checked");
                                chkAdminItem(isChecked,isAdminItem);

                            });
    }

    function chkAdminItem(isChecked,isAdminItem){
        isAdminItem.isAdmin=isChecked;
        $(".jsgrid-edit-row > .jsgrid-cell >.btnPermission").prop('disabled', isChecked);
    }

    function getUserMachine(userItem){
        var assignMachineKeys = userItem.assignMachineKeys;
        $.each(machineList, function (index, machine) {
            if(assignMachineKeys.indexOf(machine.key) > -1){
                machine.isApply = true;
            }else{
                machine.isApply = false;
            }
        });
    }

    //dialog confirm button
    var confirmFunction = function(action) {
        var assignMachines = [];
        $.each(machineList, function (indexInArray, machine) {
            if(machine.isApply == true)
                assignMachines.push(machine.key);
        });

        $.each(userMachineData, function (indexInArray, userMachine) {
            if(userMachine.userID == onRowUserID){
                userMachine.assignMachineKeys = assignMachines;
            }
        });

        dialog.dialog("close");
    }

    var checkedItem = function(isChecked,machineItem){
        machineItem.isApply = isChecked;
    }

    var checkedAllItem = function() {
        var inpIsCheckAll = $("#inpCheckAll").prop("checked");
        $("input[name='inpCheckItem']").prop("checked", inpIsCheckAll);
        $.each(machineList, function (index, machine) {
            machine.isApply = inpIsCheckAll;
        });
    };

    //button query function
    function query() {
        var inpUserID = "";
        var selIsAdmin = "";

        if ($("#inpUserID").val() != null && $("#inpUserID").val() != "")
            inpUserID = $("#inpUserID").val();

        selIsAdmin = $("#selIsAdmin option:selected").val();
        if (selIsAdmin != null && selIsAdmin != "")
            selIsAdmin = selIsAdmin;

        $.ajax({
            type: "GET",
            url: "/Permission/GetAdminInfo",
            data: {
                userID: inpUserID,
                isAdmin: selIsAdmin
            }
        }).done(function (data) {
            userMachineData = data;
            $("#jsGrid").jsGrid("loadData", userMachineData);

        }).fail(function (jqXHR, textStatus, errorThrown) {
            if (jqXHR.responseText == "GetServerInfo Error.") {
                alert("Query error：取得資料發生錯誤。");
            }else {
                alert("發生錯誤。");
                console.error(jqXHR.responseText);
            }
        });
    }
</script>