@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Permission";

}

<h2><b>授權管理</b></h2>
<div class="container">
    <!-- Content here -->
    <div class="row" style="margin-bottom:5px; ">
        <form class="form-inline">
            <div class="form-group form-pairs">
                <label class="text-right">使用者ID</label>
                <input id="inpUserID" type="text" class="form-control" placeholder="UserID" style="margin-bottom: 5px;">
            </div>
            <div class="form-group  form-pairs" style="padding-bottom:5px">
                <label class="text-right">是否是管理者</label>
                <select id="selIsAdmin" class="form-control">
                    <option value="">全選</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </div>
            <button type="button" class="btn btn-sm btn-primary" style="margin-bottom: 5px;" onclick="query()">查詢</button>

        </form>
    </div>
</div>

<div id="jsGrid"></div>

@*dialog page*@
<div id="dialog-form" title="授權設定" style="display:none">
    @*<p class="validateTips">All form fields are required.</p>*@

    <div id="pmjsGrid"></div>

</div>

<script>
    var dialog;
    var form;
    var machineList = @Json.Serialize(ViewData["MachineList"]);
    var newMachineList;
    var userMachineData = null;

    $(document).ready(function () {
        //initModelGrid();
        //initGrid();
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",

            filtering: false,
            editing: true,
            selecting: true,
            inserting: false,
            sorting: true,
            paging: false,

            autoload: false,
            invalidMessage: "欄位輸入有誤：",

            controller: {
                loadData: function (filter) {

                    return filter;
                },

                insertItem: function (item) {

                    return $.ajax({
                        type: "POST",
                        url: "/Home/InsertMachineData",
                        data: item,
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        //if (jqXHR.responseText == "IPIsNull") {
                        //    alert("Insert Error:[IP]不能為空。");
                        //}
                        //else if (jqXHR.responseText == "Insert Error.") {
                        //    alert("Insert error：新增資料發生錯誤")
                        //}
                        //else {
                        //    alert("發生錯誤。");
                        //    console.error(jqXHR.responseText);
                        //}
                    });
                },

                //updateItem:

                //deleteItem:
            },

            fields: [

                {
                    name: "userID", type: "text", title: "使用者ID", width: 100,
                },
                {
                    name: "isAdmin", type: "checkbox", title: "是否是管理者", width: 50,
                    itemTemplate: function (value, item) {
                        return chkIsAdmin(value, item)
                    }
                },
                {
                    name: "assignMachineKeys", type: "text", title: "授權機台", width: 100,
                    itemTemplate: function (value, item) {
                        return btnDisabledPermission(value, item);
                    },
                    editTemplate: function(value , item) {
                        return btnPermission(value, item);
                    },
                },
                {
                    type: "control"
                }
            ]
        });
    });

    //checkbox function
    function chkIsAdmin(value, item) {
        var $chkIsAdmin = $("<input>").attr("type", "checkbox");
        return $chkIsAdmin.attr("checked", value || item.Checked)
                            .on("change", function () {
                                item.Checked = $(this).is(":checked");
                            });
    }

    function btnDisabledPermission(value, item) {
        var $btnPermission = $("<button class='btn btn-default btnPermission' disabled>");
        return $btnPermission.text("授權設定");
    }

    //permission button
    function btnPermission(value, item) {
        var $btnPermission = $("<button class='btn btn-default btnPermission'>");
        return $btnPermission.text("授權設定")
                            .on("click", function () {
                                dialogForm();
                                getUserID(value,item);
                                //$("#pmjsGrid").jsGrid("loadData", machineList);
                                setUserPermission(value,item);
                                });
    }

    function getUserID(value,item){
        var assignMachineKeys = value;
        $.each(machineList, function (index, machine) {
            if(assignMachineKeys.indexOf(machine.key) > -1){
                machine.isApply = true;
            }else{
                machine.isApply = false;
            }
        });

    }


    function initModelGrid(){
        $("#pmjsGrid").jsGrid({
            width: "100%",
            height: "100%",

            filtering: false,
            editing: false,
            selecting: true,
            inserting: false,
            sorting: false,
            paging: false,
            autoload: false,
            data: machineList,
            invalidMessage: "勾選有誤：",

            controller: {
                loadData: function (filter) {
                    return filter;
                },

                insertItem: function (item) {
                    return $.ajax({
                        type: "POST",
                        url: "/home/InsertMachineData",
                        datatype:JSON,
                        data: machineList,
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        //if (jqXHR.responseText == "IPIsNull") {
                        //    alert("Insert Error:[IP]不能為空。");
                        //}
                        //else if (jqXHR.responseText == "Insert Error.") {
                        //    alert("Insert error：新增資料發生錯誤")
                        //}
                        //else {
                        //    alert("發生錯誤。");
                        //    console.error(jqXHR.responseText);
                        //}
                    });
                },

                //updateItem:

                //deleteItem:
            },

            fields: [
                {
                    headerTemplate: function() {
                        return $("<input>全選</input>").attr("type", "checkbox").attr("id","inpCheckAll")
                                .on("click", function () {
                                    checkedAllItem(item, machineList);
                                });
                    },
                    itemTemplate: function(value, item) {
                        return $("<input>").attr("type", "checkbox").attr("name","inpCheckItem")
                                .prop("checked", item.isApply)
                                .on("change", function () {
                                    $(this).is(":checked") ? item.isApply=true : item.isApply=false;

                                });
                        console.log("log");
                    },
                    align: "center",
                    width: 50
                },
                {
                    name: "ip", type: "text", title: "IP", width: 80,
                },
                {
                    name: "name", type: "text", title: "伺服器名稱", width: 80,
                },
                {
                    name: "os", type: "text", title: "作業系統", width: 80,
                },
                {
                    name: "description", type: "text", title: "描述", width: 80,
                }
            ]
        })
    }
    //set front-end and process permissible of buotton
    function setUserPermission(value,item) {
        $("#pmjsGrid").jsGrid({
            width: "100%",
            height: "100%",

            filtering: false,
            editing: false,
            selecting: true,
            inserting: false,
            sorting: false,
            paging: false,
            autoload: false,
            data: machineList,
            invalidMessage: "勾選有誤：",

            controller: {
                loadData: function (filter) {
                    return filter;
                },

                insertItem: function (item) {
                    return $.ajax({
                        type: "POST",
                        url: "/home/InsertMachineData",
                        datatype:JSON,
                        data: machineList,
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        //if (jqXHR.responseText == "IPIsNull") {
                        //    alert("Insert Error:[IP]不能為空。");
                        //}
                        //else if (jqXHR.responseText == "Insert Error.") {
                        //    alert("Insert error：新增資料發生錯誤")
                        //}
                        //else {
                        //    alert("發生錯誤。");
                        //    console.error(jqXHR.responseText);
                        //}
                    });
                },

                //updateItem:

                //deleteItem:
            },

            fields: [
                {
                    headerTemplate: function() {
                        return $("<input>全選</input>").attr("type", "checkbox").attr("id","inpCheckAll")
                                .on("click", function () {
                                    checkedAllItem(item, machineList);
                                });
                    },
                    itemTemplate: function(value, item) {
                        return $("<input>").attr("type", "checkbox").attr("name","inpCheckItem")
                                .prop("checked", item.isApply)
                                .on("change", function () {
                                    $(this).is(":checked") ? item.isApply=true : item.isApply=false;

                                });
                        console.log("log");
                    },
                    align: "center",
                    width: 50
                },
                {
                    name: "ip", type: "text", title: "IP", width: 80,
                },
                {
                    name: "name", type: "text", title: "伺服器名稱", width: 80,
                },
                {
                    name: "os", type: "text", title: "作業系統", width: 80,
                },
                {
                    name: "description", type: "text", title: "描述", width: 80,
                }
            ]
        })
    }


    var strCheckAllItemArray = [];
    var jsonCheckAllItem;
    var objCheckAllItem;
    var checkedAllItem = function(item,machineList) {
        if($("#inpCheckAll").prop("checked")) {
            $("input[name='inpCheckItem']").prop("checked", true);
            $.each(machineList, function (index, machine) {
                var strCheckAllItem = {};

                machine.isApply = true;
                strCheckAllItem.MachineKey = machine.key;
                strCheckAllItem.UserID = item.userID;
                strCheckAllItemArray.push(strCheckAllItem);

            });

            jsonCheckAllItem = JSON.stringify(strCheckAllItemArray);
            objCheckAllItem = JSON.parse(jsonCheckAllItem);
            
           
        } else {
            $("input[name='inpCheckItem']").prop("checked", false);

            $.each(machineList, function (index, machine) {
                var strCheckAllItem = {};

                machine.isApply = false;
                //record and delete usermachine table 的userID 與 machineKey
                strCheckAllItem.MachineKey = machine.key;
                strCheckAllItem.UserID = item.userID;
                strCheckAllItemArray.push(strCheckAllItem);
            });

            jsonCheckAllItem = JSON.stringify(strCheckAllItemArray);
            objCheckAllItem = JSON.parse(jsonCheckAllItem);
            
            
        }
        
        strCheckAllItemArray.length=0;
    };

    function dialogForm() {
        dialog = $("#dialog-form").dialog({
            autoOpen: true,
            height: 400,
            width: 600,
            modal: true,
            buttons: {
                "確定": confirmUserMachine,
                "取消": function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                //form[0].reset();
            }
        });

    }

    function confirmUserMachine() {
        //newMachineList = $.extend(true, {}, machineList);
        //machineList = newMachineList;

        //userMachineData

        dialog.dialog("close");
        $("#pmjsGrid").jsGrid("loadData", machineList);
    }

    //button uery function
    function query() {
        var inpUserID = "";
        var selIsAdmin = "";

        if ($("#inpUserID").val() != null && $("#inpUserID").val() != "")
            inpUserID = $("#inpUserID").val();

        selIsAdmin = $("#selIsAdmin option:selected").val();
        if (selIsAdmin != null && selIsAdmin != "")
            selIsAdmin = selIsAdmin;

        $.ajax({
            type: "GET",
            url: "/Permission/GetAdminInfo",
            data: {
                userIDName: inpUserID,
                isAdminName: selIsAdmin
            }
        }).done(function (data) {
            userMachineData = data;
            $("#jsGrid").jsGrid("loadData", userMachineData);


        }).fail(function (jqXHR, textStatus, errorThrown) {
            if (jqXHR.responseText == "GetServerInfo Error.") {
                alert("Query error：取得資料發生錯誤。");
            }
            else if (jqXHR.responseText == "DBNoConnect") {
                alert("Query error：未連接上資料庫。")
            }
            else {
                alert("發生錯誤。");
                console.error(jqXHR.responseText);
            }
        });
    }
</script>