@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
<style>
    .center-panel {
        max-width: 360px;
        margin: 18% auto;
    }
    input{
    max-width: 100%;
}
</style>

@*<div class="container">*@
    <!-- Content here -->
    <div class="center-panel">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" style="font-size:20px">登入</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input id="inpUsername" type="text" class="form-control" placeholder="帳號" style="margin-bottom: 5px;width:100%;">
                </div>
                <div class="form-group">
                    <input id="inpPassword" type="password" class="form-control" placeholder="密碼" style="margin-bottom: 5px;width:100%;">
                </div>
                <button type="button" class="btn btn-lg btn-click btn-block btn-primary" style="margin-bottom: 5px;" onclick="login()">登入</button>
            </div>
        </div>
    </div>
@*</div>*@

<script>
    //$(document).ready(function () {

    //});

    //btn_login
    function login() {
        var username = "";
        var password = "";

        if ($("#inpUsername").val() != null & $("#inpUsername").val() != "") {
            username = $("#inpUsername").val();
        }
        if ($("#inpPassword").val() != null & $("#inpPassword").val() != "") {
            password = $("#inpPassword").val();
        }

        $.ajax({
            type: "POST",
            url: "/Account/Login",
            data: {
                username: username,
                password: password
            }
        }).done(function (data) {
            alert("Login Success!" + data);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            if (jqXHR.responseText == "Login Error.") {
                alert("Login error：登入發生錯誤。");
            } else {
                alert("發生錯誤。");
                //console.error(jqXHR.responseText);
            }
        });

        alert('User Account：' + username + ' ' + password);
    }
</script>
