@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
@model ManageServer.Models.LoginViewModel

<style>
    body {
        overflow-y:hidden;
        overflow-x:hidden;
    }
    .center-panel {
        max-width: 360px;
        margin: 18% auto;
    }

    input {
        max-width: 100%;
    }

</style>
<div class="center-panel">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" style="font-size:20px">登入</h4>
        </div>
        <div class="panel-body">
            <section>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-controller="Account" asp-action="Login" method="post">
                    <fieldset>
                        <div class="form-group">
                            <input asp-for="Username" class="form-control" placeholder="帳號" type="text" />
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="密碼" type="password" />
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" class="btn btn-lg btn-click btn-block btn-primary" style="margin-bottom: 5px;">登入</button>
                    </fieldset>
                </form>
            </section>
        </div>
    </div>
</div>