<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManageServer</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/jsgrid-1.5.3/css/jsgrid.css" rel="stylesheet" />
        <link href="~/lib/jsgrid-1.5.3/css/theme.css" rel="stylesheet" />

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jsgrid-1.5.3/dist/jsgrid.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.core.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.field.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.load-indicator.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.load-strategies.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.sort-strategies.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.validation.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.checkbox.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.control.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.number.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.select.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.text.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.textarea.js"></script>
        
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/lib/jsgrid-1.5.3/css/jsgrid.css" rel="stylesheet" />
        <link href="~/lib/jsgrid-1.5.3/css/theme.css" rel="stylesheet" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jsgrid-1.5.3/dist/jsgrid.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.checkbox.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.control.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.number.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.select.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.text.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/fields/jsgrid.field.textarea.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.core.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.field.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.load-indicator.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.load-strategies.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.sort-strategies.js"></script>
        <script src="~/lib/jsgrid-1.5.3/src/jsgrid.validation.js"></script>>
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="ManageServer" asp-action="Index">ManageServer</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">






        @RenderBody()





        <hr />
        <footer>
            <p>&copy; 2019 - ManageServer Information</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
