body {
    /* 設定body高度為100% 拉到視窗可視的大小 */
    height: 100%;
}

.jsgrid-cell {
    overflow: hidden;
}

.dlg-no-close .ui-dialog-titlebar-close {
    display: none;
}

#id_wrapper {
    /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
    min-height: 100%;
    /* 位置設為relative, 作為footer區塊位置的參考 */
}

#id_header {
    /* 設定header的高度 */
    box-sizing: border-box;
}

#id_content {
    /* 留出header及footer區塊的空間 */
    padding-top: 40px;
    padding-bottom: 40px;
}

#id_footer {
    /* 設定footer的高度 */
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
}


.form-pairs {
    display: inline;
}

.text {
    display: block;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

/*#region nav bar user name*/
.username-inline {
    display: inline-block;
    vertical-align: baseline;
}

.username-text-wrap {
    vertical-align: top;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #2B60A5;
}


@media (max-width: 999px) {
    .dropdown-menu {
        max-height: none;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .fixedDropdownSubMenu {
        position: fixed;
        display: none;
    }

    .navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a.cloneLineItem {
        padding-left: 40px !important;
    }

    .navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a {
        padding-left: 50px !important;
    }
}
